.main-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  display: flex;
}

.main-screen .page {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-screen .page img {
  height: 50%;
  width: 50%;
}

.main-screen .search {
  z-index: 4;
  position: fixed;
  right: 0;
  margin: 20% 10%;
}

.main-screen .map2d {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  margin: 3%;
}

.main-screen .map2d img {
  height: 300px;
  object-fit: contain;
}

.main-screen .canva {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.events {
  position: absolute;
  z-index: 4;
}

.events .event {
  display: none;
  transition: 600ms ease-in-out;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 90vh;
  z-index: 5;
  margin-left: 5%;
}

.events .event .box {
  transition: 600ms ease-in-out;
  z-index: 4;
  width: 440px;
  height: 434px;
  /* From https://css.glass */
}

.events .event .box .event-header {
  cursor: pointer;
  min-width: 100px;
  max-width: 190px;
  height: 75px;
  background-color: #FDB417;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  color: white;
  gap: 20px;
}

.events .event .box .event-header .title-text {
  text-indent: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}

.events .event .box .event-header img {
  min-height: 40%;
  max-height: 45%;
  cursor: pointer;
  filter: invert(1);
  animation: 1s ease-in-out infinite arrow;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

.events .event-container {
  position: absolute;
  transition: 600ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 90vh;
  margin-left: 5%;
}

.events .event-container .box {
  transition: 600ms ease-in-out;
  z-index: 4;
  width: 440px;
  height: 434px;
  /* From https://css.glass */
  background: rgba(139, 139, 139, 0.021);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.events .event-container .box .event-header {
  height: 75px;
  background-color: #FDB417;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: white;
}

.events .event-container .box .event-header .clock {
  margin-left: 40px;
}

.events .event-container .box .event-header .clock .date {
  font-size: .8rem;
  font-weight: 600;
}

.events .event-container .box .event-header .clock .time {
  font-size: .7rem;
  font-weight: 300;
}

.events .event-container .box .event-header .title-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.events .event-container .box .event-header img {
  min-height: 40%;
  max-height: 45%;
  cursor: pointer;
  filter: invert(1);
  animation: 2s ease-in-out infinite arrowback;
}

.events .event-container .box .event-header img:hover {
  filter: invert(0.9);
}

@keyframes arrowback {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1208px) {
  .events .event .box {
    width: 80%;
    min-height: 40%;
  }
  .events .event .box .title-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .events .event-container .box {
    width: 80%;
    min-height: 40%;
  }
  .events .event-container .box .event-header .clock {
    margin-left: 40px;
  }
  .events .event-container .box .event-header .clock .date {
    font-size: .8rem;
    font-weight: 600;
  }
  .events .event-container .box .event-header .clock .time {
    font-size: .7rem;
    font-weight: 300;
  }
  .events .event-container .box .event-header .title-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media (max-width: 1165px) {
  .events .event {
    justify-content: flex-start;
    margin-left: 0%;
  }
  .events .event .box {
    width: 80%;
    min-height: 40%;
  }
  .events .event .box .event-header {
    width: 220px;
    min-height: 10px;
    max-height: 260px;
  }
  .events .event-container {
    justify-content: flex-start;
    margin-left: 0%;
  }
  .events .event-container .box {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .events .event {
    margin-left: 0%;
    left: 0;
  }
  .events .event .box {
    width: 120px;
    min-height: 10px;
    max-height: 260px;
  }
  .events .event .box .event-header {
    gap: 10px;
    width: 120px;
    height: 45px;
    border-radius: 5px;
  }
  .events .event .box .event-header .title-text {
    font-size: .9rem;
    font-weight: 500;
  }
  .events .event-container {
    margin-left: 0%;
    left: 0;
  }
  .events .event-container .box {
    width: 220px;
    min-height: 10px;
    max-height: 260px;
  }
  .events .event-container .box .event-header {
    gap: 10px;
    height: 45px;
  }
  .events .event-container .box .event-header .clock {
    margin-left: 10px;
  }
  .events .event-container .box .event-header .clock .date {
    font-size: .5rem;
    font-weight: 600;
  }
  .events .event-container .box .event-header .clock .time {
    font-size: .5rem;
    font-weight: 300;
  }
  .events .event-container .box .event-header .title-text {
    font-size: .9rem;
    font-weight: 500;
  }
}

@media (max-width: 555px) {
  .main-screen .main-cloud {
    margin-top: 20%;
  }
  .main-screen .search {
    z-index: 10;
    position: fixed;
    right: 0;
    margin: 50% 10%;
  }
  .main-screen .search .inputd {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
  }
  .main-screen .search .small {
    cursor: pointer;
    width: 10px;
  }
  .main-screen .map2d {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
  }
  .main-screen .map2d img {
    height: 230px;
    object-fit: contain;
  }
}
