.main-screen{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    .page{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;

   
        // height: 100vh;
        // background-color: rgba(255, 0, 0, 0.907);
         pointer-events: none;
         img{
            height: 50%;
            width: 50%;
         }
    }
    .canva{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}